@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #191919;
}

.side-padding {
    padding-left: 240px;
    padding-right: 240px;
}


.page-width {
    max-width: 2000px;
    margin: auto;
}

a {
    text-decoration: none;
}

span {
    color: #B98A34;
}

h1 {
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}


h2 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

h3 {

    color: var(--Primery, #B98A34);
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

p {
    color: #BFBFBF;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}












/* ==========================================navbar css starts here========================================================= */

.contact-btn {
    height: 50px;
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--Primery, #B98A34);
    padding: 13px 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}


.active-nav {
    color: #B98A34 !important;


}

header {
    z-index: 11;
    align-items: center;
    padding: 15px 0;
    background-color: transparent;
    border-bottom: 1px solid #3A3A3A;
    display: flex;
    justify-content: space-between;

}


ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
    justify-content: space-around;
}

ul a {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    background-color: #161616;
    top: 130px;
    left: 0;
    height: calc(100vh - 147px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
    header nav {
        display: none;
    }

    header {
        padding: 17px 0;


    }

    #hamburger-icon {
        display: block;
    }
}


.red-line {
    padding: 12px 0;
    display: grid;
    place-items: center;
    background-color: #CD2122;
}

.red-line h5 {

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* ===============================================================navbarv css ends here================================================ */


/* ===========================================================hero section starts here============================================ */



.main-hero-bg {

    background: url(./img/hero-bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 120px;

}

.hero-content {
    padding-top: 177px;
    padding-bottom: 240px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.hero-content a {
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--Primery, #B98A34);
    padding: 13px 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    max-width: 204px;
    margin-top: 10px;
}

.hero-content p {
    color: #BFBFBF;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.hero-content hr {
    width: 125px;
    border: none;
    border-bottom: 1px solid #B98A34;

}















/* ===================================================footer css starts here========================================== */
footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer img {
    width: 100%;
}

footer p {
    margin-top: 20px;
}

footer h4 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    margin-top: 25px;
    font-weight: 600;
    line-height: normal;
}

.social-media {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.copyright-line p {
    color: #7F7F7F;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo {
    width: 366px;
    height: auto;
}

.social {
    width: 36px;
    height: auto;
}

.copyright {
    width: 100%;
    border-top: 1px solid#343434;
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: space-between;
}

.copyright p {
    margin-top: 0;
}

.page-links a {

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-links {
    flex-direction: row;
    align-items: center;
    gap: 45px;
    display: flex;
}

/* \=====================================================contact section starts here============================================ */

.contact-sec-box {
    background: #232323;
    width: 100%;
    position: relative;
    display: grid;
    padding-left: 240px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 120px;
}

.contact-sec-box .light {
    position: absolute;
    right: 25%;
    /* bottom: -480px; */
    z-index: -1;
    top: 25%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-sec-box .light-2 {
    position: absolute;
    right: 0;
    /* bottom: -480px; */
    z-index: -1;
    top: -20px;
}

.contact-form hr {
    width: 125px;
    border: none;
    border-bottom: 1px solid #B98A34;
}

.contact-sec-box .right-box-img img {
    width: 920px;
    height: auto;
}

.left-box-details {
    padding-right: 115px;
    display: flex;
    align-items: center;
}







form {

    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.form-group input[type="text"],
.form-group textarea {
    padding: 14px 15px;
    width: 100%;
    border: 1px solid #4B4B4B;
    background: #232323;
    color: #BABABA;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.form-group textarea {
    resize: vertical;
}

.submit-button {
    background-color: transparent;
    color: #B98A34;
    padding: 13px 30px;
    border: 1px solid #B98A34;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Playfair Display', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


/* =======================================================about sectrion starte here====================== */



.about-section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 120px;
    position: relative;
}

.left-about-box {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.about-section hr {
    width: 125px;
    border: none;
    border-bottom: 1px solid #B98A34;
}

.about-section h3 {
    margin-bottom: 15px;

}

.about-section h1 {
    margin-bottom: 25px;
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}

.about-section p {
    margin-bottom: 25px;

}

.about-section a {
    padding: 13px 30px;
    color: var(--Primery, #B98A34);
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    border: 1px solid var(--Primery, #B98A34);
}

.about-section .light-eclips {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


.right-about-content {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* =====================================================================blog-section started===============================   */
.blog-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 120px;
    position: relative;
}

.round-circle {
    position: absolute;
    left: -380px;
    top: -260px;
}

.blog-sec-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.blog-sec-heading hr {
    width: 125px;
    border: none;
    border-bottom: 1px solid #B98A34;
}

.blog-sec-heading h3 {
    margin-bottom: 15px;
}

.blog-sec-boxes {
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 36px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
}

.blog-sec-box {
    display: flex;
    flex-direction: column;
    background-color: #191919;
}

.blog-text {
    border-bottom: 1px solid #545454;
    border-left: 1px solid #545454;
    border-right: 1px solid #545454;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.date {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.date a span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: #B98A34;
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.date h6 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.blog-sec-box h4 {
    color: var(--Primery, #B98A34);
    font-family: 'Playfair Display', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.blog-sec-box p {
    color: #AEAEAE;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.read-more-btn {
    display: grid;
    place-items: center;

}

.blog-details {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.read-more-btn a {
    border: 1px solid #B98A34;
    padding: 13px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: var(--Primery, #B98A34);
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.blog-texts-box {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 10px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    justify-content: center;
}

.blog-content h1 {
    margin-bottom: 5px;
}

.head-lable h1 {
    font-family: 'Inter', sans-serif;

}


.blog-info-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 120px;
}










/* ================================================================product section started here============================================== */
.our-product-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 70px;
}

.product-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.our-product-sec-boxes {
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow: auto;
}

.left-heading-product {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.left-heading-product hr {
    width: 125px;
    border: none;
    border-bottom: 1px solid #B98A34;
}

.main {
    background-color: #232323;
    padding: 49px 36px;
}

.left-heading-product h3 {
    margin-bottom: 15px;
}

.main .main-b {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.main-contact {
    margin-bottom: 120px;
}

.product-heading a {
    padding: 13px 30px;
    display: inline-flex;
    gap: 15px;
    align-items: center;
    color: var(--Primery, #B98A34);
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid var(--Primery, #B98A34);
}

.product-box-card {
    min-width: 340px;
    height: auto;
    position: relative;
    z-index: 1;
}

.product-box-card img {
    width: 100%;
    height: auto;
}

.layers {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100.29%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.p-content {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 11;
}

.social-icons img {
    width: 35px;
    height: 35px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}





/* =============================================================================testimonial-section started================================ */

.left-testi-content {
    max-width: 785px;
    display: flex;
    flex-direction: column;
    gap: 7px;

}

.swiper {
    padding-top: 50px;
    width: 100%;
    position: relative;

    height: 100%;
    margin-bottom: 120px;

}

.testimonial-box {

    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 240px;
    margin-right: 240px;
}

.comaaaaa {
    position: absolute;

    top: 1px;
    z-index: 10;
    left: 30px;
}

.round-eclips {
    position: absolute;

    top: 1px;
    z-index: 9;
    left: 30px;
}

.swiper-slide {

    font-size: 18px;
    background: #191919;

    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.left-testi-content hr {
    width: 125px;
    border: none;
    border-bottom: 1px solid #B98A34;
    margin-top: 15px;
}

.left-testi-content h6 {
    color: #B98A34;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.left-testi-content h1 {
    margin-bottom: 18px;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 15%;
    transform: translateX(-50%);
    white-space: nowrap;
}

:root {
    --swiper-theme-color: #B98A34;
}


/* ===========================================================================about page css starts here-------------------------- */

.head-lable {
    background: url(./img/head-bh-11111.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 120px;



}

.head-lable .heading-text {



    padding-top: 124px;
    padding-bottom: 170px;

}

.heading-text hr {
    width: 125px;
    border: none;
    border-bottom: 1px solid #B98A34;
    margin-top: 15px;
}

.mission-box {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-bottom: 120px;
}

.left-content-box-mission {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-content-box-vission {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vission-box {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    margin-bottom: 120px;

}

.mission-box h1 {
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}

.vission-box h1 {
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}

.eclips-about {
    position: absolute;
    left: -330px;
    top: -50%;
    z-index: 10;
}

.about-main-pages {
    position: relative;
}





/* =====================================================================gifting product section starts here======================================== */
.gifting-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 120px;
}

.gifting-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;

}

.gifting-lable {
    display: grid;
    place-items: center;
    text-align: center;
}

.gifting-lable hr {
    margin: 15px 0;
    width: 125px;
    border: none;
    border-bottom: 1px solid #B98A34;
}

.load-more-btn {
    display: grid;
    place-content: center;
}

.load-more-btn a {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding: 13px 30px;
    border: 1px solid #B98A34;
    color: var(--Primery, #B98A34);
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}







/* =================================================================product-view section============================= */
/* styles.css */

.product-info {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.product-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-image img {
    width: 690px;
    height: auto;
}

.small-images {
    display: flex;
    justify-content: center;
    gap: 25px;
    /* Adjust the spacing between small images */
}

.small-image {
    /* width: 110px; */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Add a smooth transition for image scaling */
}

.small-image:hover {
    transform: scale(1.1);
    /* Enlarge the small image on hover */
}

.right-product-details {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.right-product-details img {
    width: 180px;
}

.right-product-details p {
    color: #AEAEAE;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.right-product-details ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: normal;
    align-items: flex-start;
    list-style: circle;
    padding-left: 15px;
}

.right-product-details hr {
    border: none;
    border-bottom: 1px solid #343434;
}

.right-product-details li {
    color: #AEAEAE;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.price-p h6 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.discounted-price {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.disc-price del {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: strikethrough;
    text-transform: uppercase;
}

.disc-price {
    display: inline-flex;
    gap: 15px;
    align-items: center;
}

.price-quantity {
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
}

.accounting-box {
    display: flex;
    flex-direction: column;
    gap: 35px;
    border-top: 1px solid #343434;
    padding-top: 25px;
}

.quantity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.last-li {
    padding-bottom: 25px;
}

.quantity-box button {
    background-color: transparent;
    border: 1px solid #F0F0F0;
    /* padding: 5px 10px; */
    cursor: pointer;

    padding: 18px 21px;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

}

.quantity-box input {
    background-color: transparent;
    border: 1px solid #F0F0F0;
    width: 100px;
}

.buy-and-add a {
    color: #FFF;
    background-color: #B98A34;
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 13px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.buy-and-add {
    display: inline-flex;
    gap: 26px;
}

.buy-and-add button {
    border: 1px solid #B98A34;
    background-color: transparent;
    color: var(--Primery, #B98A34);
    font-family: 'Playfair Display', sans-serif;
    padding: 13px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;


    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#quantityInput {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    padding: 10px 25px;
}

.increment,
.decrement {
    width: 100%;
    height: 100%;
    padding: 13px 21px;
    display: grid;
    place-items: center;
}

.related-products {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 120px;
}

.related-products h1 {
    color: #B98A34 !important;
}


/* =====================================================================responsive code======================= */




@media only screen and (max-width: 1540px) {
    .side-padding {
        padding-left: 130px;
        padding-right: 130px;
    }

    ul {
        gap: 40px;
    }

    .hero-content {
        padding-top: 125px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .main-hero-bg {
        margin-bottom: 100px;
    }

    .left-about-box {


        gap: 20px;
    }

    .about-section {
        display: flex;
        flex-direction: row;
        gap: 45px;
        margin-bottom: 100px;
        position: relative;
    }

    .testimonial-box {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-left: 130px;
        margin-right: 130px;
    }

    .swiper {
        padding-top: 50px;
        width: 100%;
        position: relative;
        height: 100%;
        margin-bottom: 100px;
    }

    .blog-section {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-bottom: 100px;
        position: relative;
    }

    .blog-sec-box {
        display: flex;
        flex-direction: column;
        background-color: #191919;
        width: 400px;
    }

    .contact-sec-box {
        background: #232323;
        width: 100%;
        position: relative;
        display: grid;
        padding-left: 130px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 100px;
    }

    .left-box-details {
        padding-right: 50px;
        display: flex;
        align-items: center;
    }

    .contact-sec-box .right-box-img img {
        width: 720px;
        height: auto;
    }

    .page-links {
        flex-direction: row;
        align-items: center;
        gap: 35px;
        display: flex;
    }

    .product-box-card {
        min-width: 300px;
        height: auto;
        position: relative;
        z-index: 1;
    }

    .head-lable .heading-text {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .mission-box {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        margin-bottom: 100px;
    }

    .head-lable {
        background: url(./img/head-bh-11111.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        margin-bottom: 100px;
    }

    .gifting-section {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 100px;
    }


}

@media only screen and (max-width: 1400px) {
    .side-padding {
        padding-left: 90px;
        padding-right: 90px;
    }

    ul {
        gap: 33px;
    }

    .red-line h5 {
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    ul a {
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .contact-btn {
        height: 50px;
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: var(--Primery, #B98A34);
        padding: 13px 30px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .hero-content {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    h2 {
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    h1 {
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    .hero-content p {
        color: #BFBFBF;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    p {
        color: #BFBFBF;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    h3 {
        color: var(--Primery, #B98A34);
        font-family: 'Outfit', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    .round-circle {
        position: absolute;
        left: -487px;
        top: -425px;
    }

    .blog-sec-box h4 {
        color: var(--Primery, #B98A34);
        font-family: 'Playfair Display', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .blog-sec-box p {
        color: #AEAEAE;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .date h6 {
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    h2 {
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    .contact-sec-box {
        background: #232323;
        width: 100%;
        position: relative;
        display: grid;
        padding-left: 90px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 100px;
    }

    .contact-sec-box .right-box-img img {
        width: 664px;
        height: auto;
    }

    .testimonial-box {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-left: 90px;
        margin-right: 90px;
    }

    .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 10%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .left-content-box-mission h1 img {
        width: 55px;
        height: auto;
    }

    .left-content-box-vission h1 img {


        width: 55px;
        height: auto;
    }

    .about-main-pages img {
        width: 470px;
    }

    .comaaaaa {
        display: none;
    }

    .vission-box {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        align-items: center;
        margin-bottom: 100px;
    }

    .product-box-card {
        min-width: 280px;
        height: auto;
        position: relative;
        z-index: 1;
    }

    .social {
        width: 30px;
        height: auto;
    }

    .page-links {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        display: flex;
    }

    .page-links a {
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .logo {
        width: 250px;
        height: auto;
    }

    .contact-sec-box .light {
        display: none;
    }

    .main-image img {
        width: 550px;
        height: auto;
    }

    .small-image {
        width: 80px;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .right-product-details p {
        color: #AEAEAE;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .right-product-details li {
        color: #AEAEAE;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .last-li {
        padding-bottom: 14px;
    }

    .price-p h6 {
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .discounted-price {
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 29px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .disc-price del {
        color: #D9D9D9;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: strikethrough;
        text-transform: uppercase;
    }

    .right-product-details {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .product-info {
        margin-bottom: 100px;
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .contact-btn {
        height: 45px;
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: var(--Primery, #B98A34);
        padding: 11px 21px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .hero-content a {
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: var(--Primery, #B98A34);
        padding: 12px 23px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        max-width: 191px;
        margin-top: 10px;
    }
}








@media only screen and (max-width: 1200px) {
    .side-padding {
        padding-left: 60px;
        padding-right: 60px;
    }

    ul {
        gap: 29px;
    }

    .about-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left-about-box {
        gap: 130px;
    }

    .testimonial-box {
        gap: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 25px;
    }

    .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .blog-sec-boxes {
        overflow: auto;
    }

    .contact-sec-box {
        background: #232323;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        display: grid;
        padding-left: 60px;
        grid-template-columns: 100%;
        margin-bottom: 100px;

        gap: 50px;
    }

    .left-testi-content {
        max-width: 785px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        align-items: center;
    }

    .contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }



    .submit-button {
        width: max-content;
    }

    .swiper {
        padding-top: 0;
    }

}



@media only screen and (max-width: 850px) {

    .contact-btn {
        display: none;
    }

    #hamburger-icon div {
        width: 35px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 5px;
    }

    .side-padding {
        padding-left: 40px;
        padding-right: 40px;
    }

    h1 {
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    .head-lable .heading-text {
        padding-top: 100px;
        padding-bottom: 89px;
    }

    .head-lable {

        margin-bottom: 60px;

    }

    .about-section h1 {
        margin-bottom: 25px;
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .about-section a {
        padding: 13px 21px;
        color: var(--Primery, #B98A34);
        font-family: 'Playfair Display', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        width: max-content;
        border: 1px solid var(--Primery, #B98A34);
    }

    .mission-box {
        flex-direction: column;
    }

    .vission-box {
        flex-direction: column;
        margin-bottom: 30px;
    }


    .swiper {
        padding-top: 50px;
        width: 100%;
        position: relative;
        height: 100%;
        margin-bottom: 50px;
    }

    .contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .copyright {
        flex-wrap: wrap;
        justify-content: center;
    }

    .copyright-line p {
        padding: 20px;
    }

    .contact-sec-box {
        margin-bottom: 50px;
        padding-left: 0;
    }

    .gifting-products {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .load-more-btn a {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        padding: 12px 21px;
        border: 1px solid #B98A34;
        color: var(--Primery, #B98A34);
        font-family: 'Playfair Display', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .gifting-section {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 49px;
    }

    .product-info {
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .blog-texts-box {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 10px;
    }

    .blog-info-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 50px;
    }

    .hero-content {

        gap: 10px;
    }

    header {
        padding: 14px 0;
    }

}

@media only screen and (max-width: 600px) {



    .left-about-box {
        gap: 15px;
    }

    .side-padding {
        padding-left: 30px;
        padding-right: 30px;
    }

    h1 {
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    h2 {
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    .hero-content p {
        color: #BFBFBF;
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    .left-about-box img {
        width: 210px;
        height: auto;
    }

    .contact-sec-box .right-box-img img {
        width: 450px;
        height: auto;
    }

    .contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding: 30px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .page-links {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .mission-box {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        margin-bottom: 50px;
    }

    .product-box-card {
        min-width: 250px;
        height: auto;
        position: relative;
        z-index: 1;
    }

    .left-box-details {
        padding-right: 0px;
        display: flex;
        align-items: center;
    }

    .price-quantity {
        display: inline-flex;
        flex-direction: row;
        gap: 15px;
    }

    .main-contact {
        margin-bottom: 50px;
    }


}


@media only screen and (max-width: 430px) {
    .side-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    h2 {
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    h1 {
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }

    .hero-content p {
        color: #BFBFBF;
        font-family: 'Outfit', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    .hero-content a {
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: var(--Primery, #B98A34);
        padding: 12px 16px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        max-width: 165px;
        margin-top: 5px;
    }

    .side-padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero-content {
        padding-top: 95px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .main-hero-bg {
        margin-bottom: 35px;
    }

    .left-about-box img {
        width: 160px;
        height: auto;
    }

    .about-section h1 {
        margin-bottom: 25px;
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    h3 {
        color: var(--Primery, #B98A34);
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    p {
        color: #BFBFBF;
        font-family: 'Outfit', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    .about-section h1 {
        margin-bottom: 13px;
        color: #FFF;
        font-family: 'Playfair Display', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        gap: 45px;
        margin-bottom: 35px;
        position: relative;
    }

    .our-product-section {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 35px;
    }

    .product-heading a {
        display: none;
    }

    .swiper {
        padding-top: 0;
    }

    .testimonial-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .round-circle {
        position: absolute;
        left: -487px;
        top: -425px;
        display: none;
    }

    .blog-sec-box {
        display: flex;
        flex-direction: column;
        background-color: #191919;
        width: 380px;
    }

    .red-line h5 {
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .contact-sec-box .right-box-img img {
        width: 360px;
        height: auto;
    }

    .contact-sec-box {

        gap: 0;

    }

    .mission-box {
        flex-direction: column;
    }

    .about-main-pages img {
        width: 365px;
    }

    .product-box-card {
        min-width: 170px;
        height: auto;
        position: relative;
        z-index: 1;
    }

    .main-image img {
        width: 390px;
        height: auto;
    }

    .small-images {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .small-image {
        width: 68px;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .product-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .head-lable {
        margin-bottom: 35px;
    }

    .price-p h6 {
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .disc-price del {
        color: #D9D9D9;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: strikethrough;
        text-transform: uppercase;
    }

    .discounted-price {
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .accounting-box {
        display: flex;
        flex-direction: column;
        gap: 25px;
        border-top: 1px solid #343434;
        padding-top: 25px;
    }

    .buy-and-add a {
        color: #FFF;
        background-color: #B98A34;
        font-family: 'Playfair Display', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 14px 23px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .buy-and-add button {
        border: 1px solid #B98A34;
        background-color: transparent;
        color: var(--Primery, #B98A34);
        font-family: 'Playfair Display', sans-serif;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .product-info {
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .gifting-lable hr {
        margin: 10px 0;
        width: 125px;
        border: none;
        border-bottom: 1px solid #B98A34;
    }

    .related-products {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 35px;
    }

    .load-more-btn a {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        padding: 10px 13px;
        border: 1px solid #B98A34;
        color: var(--Primery, #B98A34);
        font-family: 'Playfair Display', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .form-group input[type="text"],
    .form-group textarea {
        padding: 14px 15px;
        width: 100%;
        border: 1px solid #4B4B4B;
        background: #232323;
        color: #BABABA;
        font-family: 'Outfit', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .submit-button {
        background-color: transparent;
        color: #B98A34;
        padding: 10px 20px;
        border: 1px solid #B98A34;
        margin-top: 10px;
        cursor: pointer;
        font-family: 'Playfair Display', sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    .about-section a {
        padding: 11px 14px;
        color: var(--Primery, #B98A34);
        font-family: 'Playfair Display', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        width: max-content;
        border: 1px solid var(--Primery, #B98A34);
    }


    .read-more-btn a {
        border: 1px solid #B98A34;
        padding: 9px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        color: var(--Primery, #B98A34);
        font-family: 'Playfair Display', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .blog-section {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-bottom: 35px;
        position: relative;
    }

}