@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #191919;
}

.side-padding {
    padding-left: 240px;
    padding-right: 240px;
}


.page-width {
    max-width: 2000px;
    margin: auto;
}

a {
    text-decoration: none;
}

span {
    color: #B98A34;
}

h1 {
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}


h2 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

h3 {

    color: var(--Primery, #B98A34);
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

p {
    color: #BFBFBF;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}












/* ==========================================navbar css starts here========================================================= */

.contact-btn {
    height: 50px;
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--Primery, #B98A34);
    padding: 13px 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}


.active-nav {
    color: #DD7F00 !important;


}

header {
    align-items: center;
    padding: 15px 0;
    background-color: transparent;
    border-bottom: 1px solid #3A3A3A;
    display: flex;
    justify-content: space-between;

}


ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
    justify-content: space-around;
}

ul a {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    background-color: #161616;
    top: 130px;
    left: 0;
    height: calc(100vh - 147px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
    header nav {
        display: none;
    }

    header {
        padding: 17px 0;


    }

    #hamburger-icon {
        display: block;
    }
}


.red-line {
    padding: 12px 0;
    display: grid;
    place-items: center;
    background-color: #CD2122;
}

.red-line h5 {

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* ===============================================================navbarv css ends here================================================ */


/* ===========================================================hero section starts here============================================ */



.main-hero-bg {

    background: url(./img/hero-bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 120px;

}

.hero-content {
    padding-top: 177px;
    padding-bottom: 240px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.hero-content a {
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--Primery, #B98A34);
    padding: 13px 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    max-width: 204px;
    margin-top: 10px;
}

.hero-content p {
    color: #BFBFBF;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.hero-content hr {
    width: 125px;
    height: 1px;
    background-color: #B98A34;

}















/* ===================================================footer css starts here========================================== */
footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer img {
    width: 100%;
}

footer p {
    margin-top: 20px;
}

footer h4 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    margin-top: 25px;
    font-weight: 600;
    line-height: normal;
}

.social-media {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.copyright-line p {
    color: #7F7F7F;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo {
    width: 366px;
    height: auto;
}

.social {
    width: 36px;
    height: auto;
}

.copyright {
    width: 100%;
    border-top: 1px solid#343434;
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: space-between;
}

.copyright p {
    margin-top: 0;
}

.page-links a {

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page-links {
    flex-direction: row;
    align-items: center;
    gap: 45px;
    display: flex;
}

/* \=====================================================contact section starts here============================================ */

.contact-sec-box {
    background: #232323;
    width: 100%;
    position: relative;
    display: grid;
    padding-left: 240px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 120px;
}

.contact-sec-box .light {
    position: absolute;
    right: 25%;
    /* bottom: -480px; */
    z-index: -1;
    top: 25%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-sec-box .light-2 {
    position: absolute;
    right: 0;
    /* bottom: -480px; */
    z-index: -1;
    top: -20px;
}

.contact-form hr {
    width: 125px;
}

.contact-sec-box .right-box-img img {
    width: 920px;
    height: auto;
}

.left-box-details {
    padding-right: 115px;
    display: flex;
    align-items: center;
}







form {

    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.form-group input[type="text"],
.form-group textarea {
    padding: 14px 15px;
    width: 100%;
    border: 1px solid #4B4B4B;
    background: #232323;
    color: #BABABA;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.form-group textarea {
    resize: vertical;
}

.submit-button {
    background-color: transparent;
    color: #B98A34;
    padding: 13px 30px;
    border: 1px solid #B98A34;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Playfair Display', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


/* =======================================================about sectrion starte here====================== */



.about-section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 120px;
    position: relative;
}

.left-about-box {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.about-section hr {
    width: 125px;
}

.about-section h3 {
    margin-bottom: 15px;

}

.about-section h1 {
    margin-bottom: 25px;
    color: #FFF;
    font-family: 'Playfair Display', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}

.about-section p {
    margin-bottom: 25px;

}

.about-section a {
    padding: 13px 30px;
    color: var(--Primery, #B98A34);
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    border: 1px solid var(--Primery, #B98A34);
}

.about-section .light-eclips {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


.right-about-content {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* =====================================================================blog-section started===============================   */
.blog-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 120px;
    position: relative;
}.round-circle {
    position: absolute;
    left: -380px;
    top: -260px;
}
.blog-sec-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.blog-sec-heading hr {
    width: 125px;
}

.blog-sec-heading h3 {
    margin-bottom: 15px;
}

.blog-sec-boxes {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.blog-sec-box {
    display: flex;
    flex-direction: column;
    background-color: #191919;
}

.blog-text {
    border-bottom: 1px solid #545454;
    border-left: 1px solid #545454;
    border-right: 1px solid #545454;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.date {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.date a span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: #B98A34;
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.date h6 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.blog-sec-box h4 {
    color: var(--Primery, #B98A34);
    font-family: 'Playfair Display', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.blog-sec-box p {
    color: #AEAEAE;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}